.heading {
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 10px;
  background-color: #494949;
  padding: 5px;
  margin: 0px 5px;
}

.question-list {
  overflow: auto;
}

.question-card {
  margin: 8px;
}
